body {
	background-color: white;
}
h1 {
	color: black;
}
h2 {
	color: gray;
}
h3 {
	color: gray;
}

a:link {
	color:#92b031;
	text-decoration: none;
}
a:visited {
	color:#92b031;
	text-decoration: none;
}
a:hover {
	color:#92b031;
	text-decoration: underline;
}
a:active {
	color:#92b031;
	text-decoration: none;
}

#wrapper {
	width: 1024px;
	background-color: white;
	margin: auto;
}

#header {
	background-color: white;
	text-align: left;
	padding: 5px;
}

#content{
	background-color: white;
	padding: 20px;
	margin: auto; 
}

#middle_columns {
	font-family: Arial, helvetica, serif;
	position: relative;
	left: 300px;
	width: 400px;
}


#footer {
	background-color: white;
	position: absolute;
	left: 512px;
}

#left_column {
	width: 120px;
	font-family: Arial, helvetica, serif;
	font-size: 12px;
	color: gray;
}